
*{
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-name {
    font-size: 48px;
    font-weight: bold;
}

.add-tracker-btn {
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.down-arrow {
    font-size: 32px;
    border: none;
    background: none;
    cursor: pointer;
}

.coffee-list-section {
    padding: 20px;
    display: none;
}

#searchBar {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

#sortOptions {
    padding: 10px;
    margin-bottom: 20px;
}

#coffeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
}